<table style="undefined;table-layout: fixed; width: 464px">
    <colgroup>
    <col style="width: 396.2px">
    <col style="width: 68.2px">
    </colgroup>
    <thead>
      <tr>
        <th class=>Customer Name: </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monthly On-Demand<br>Discount Eligible Spend ($/mo)</td>
        <td></td>
      </tr>
      <tr>
        <td>Hourly Spend ($/hr)</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">Commitments</td>
      </tr>
      <tr>
        <td>3 Year FlexCUD Commitment ($/hr) </td>
        <td></td>
      </tr>
      <tr>
        <td>1 Year FlexCUD Commitment ($/hr)</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">Discounted Costs</td>
      </tr>
      <tr>
        <td>3 Year FlexCUD Cost ($/hr)</td>
        <td></td>
      </tr>
      <tr>
        <td>1 Year FlexCUD Cost ($/hr)</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">On-Demand Discounting (SUDS, etc)</td>
      </tr>
      <tr>
        <td>Remaining On-Demand Cost ($/hr)</td>
        <td></td>
      </tr>
      <tr>
        <td>SUDS (or ODVM Discount) (%)<br></td>
        <td></td>
      </tr>
      <tr>
        <td>Final On-Demand Hourly Cost</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">Math</td>
      </tr>
      <tr>
        <td>On Demand Cost</td>
        <td></td>
      </tr>
      <tr>
        <td>1 Yr FlexCUD Cost</td>
        <td></td>
      </tr>
      <tr>
        <td>3 Year FlexCUD Cost</td>
        <td></td>
      </tr>
      <tr>
        <td>Final Hourly Cost</td>
        <td></td>
      </tr>
      <tr>
        <td>Estimated Discount from List Price</td>
        <td></td>
      </tr>
    </tbody>
    </table>